/* You can add global styles to this file, and also import other style files */

.beer {
    padding: 5px;
    border-bottom: 1px #ccc dotted;
}
.in-temperature {
    text-decoration-color: chartreuse;
    background-color: chartreuse;
}

.out-of-temperature {
    background-color: rgb(212, 30, 30);
}